.banner {
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: 500px;
    object-fit: cover;
    padding-bottom: 20px;
}

.banner h1 {
  color: rgb(250, 31, 31);
  text-align: center;
  vertical-align: middle;
  padding-top: 3px;
}
