footer {
	align-items: center;
	background-color: black;
	bottom: 0;
	color: #666666;
	display: flex;
	font-size: 5em;
	height: 50px;
	justify-content: center;
	position: fixed;
	text-transform: uppercase;
	width: 100%;
	z-index: 1;
}
