.header {
  padding: 1px;
  text-align: center;
  background: black;
  color: white;
  font-size: 30px;
  display: flex;
	font-size: 5em;
	height: 0px;
	justify-content: center;
	position: fixed;
	text-transform: uppercase;
	width: 100%;
	z-index: 1;
}
